# API設定
VITE_API_BASE_URL=http://localhost:4010

# API KEY headerへ x-api-keyとして付与
VITE_API_KEY=

# アプリ環境設定（localの時はliff.mockで認証をスキップする）
VITE_APP_ENV='local' # local / staging / prod

# LIFF
VITE_LIFF_ID='xxxxxx'

# イベント固有のmicroCMSサービス
MICROCMS_SERVICE='xxxxxx'
MICROCMS_SERVICE_KEY='xxxxxx'