@use "style/_variable" as *;

.profile {
  position: relative;
}

.header {
  @include tmp_column;
}

.title {
  @include tmp_subTitle;

  text-align: center;
}

.annotation {
  @include tmp_annotation;

  text-align: center;
}

.form {
  @include tmp_column;
}