@use 'style/_variable' as *;

.disclosure {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-bottom: 1px solid var(--border-default);

  &:first-child {
    border-top: 1px solid var(--border-default);
  }
}

// トリガー
.trigger {
  display: flex;
  gap: rem(8);
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: rem(12) 0;
  color: currentColor;
  background-color: transparent;
  border: 0;
  appearance: none;

  &:focus-visible {
    outline: none;
  }
}

// 先頭のアイコン
.headIcon {
  @include rect(rem(24));

  min-width: rem(24);
  aspect-ratio: 1;
  margin: rem(2) 0 auto;
}

// ラベル
.label {
  @include tmp_txt-body;

  display: flex;
  align-items: center;
  margin: 0 auto 0 0;
  font-weight: 500;
  text-align: left;
}

// 開閉アイコン
.tailIcon {
  @include rect(rem(22));

  margin: 0 rem(8);
  transition: scale var(--transition-ease);

  [aria-expanded='true'] & {
    scale: 1 -1;
  }
}

// 本文
.panel {
  padding: rem(24) 0 rem(24);
  overflow-y: clip;
  border-top: 1px dotted var(--txt-basic);
  backdrop-filter: blur(rem(16));

  // headless UI Transition
  &.enter {
    transition:
      opacity 125ms 100ms ease-out,
      padding 250ms ease-out,
      height 250ms ease-out;
  }

  &.leave {
    transition:
      opacity 200ms ease-in,
      padding 205ms 50ms ease-in,
      height 205ms 50ms ease-in;
  }

  &.enterFrom,
  &.leaveTo {
    height: 0;
    padding: 0;
    opacity: 0;
  }

  &.enterTo,
  &.leaveFrom {
    height: calc-size(max-content, size);
    padding: rem(24) 0 rem(24);
    opacity: 1;
  }
}
