@use "style/_variable" as *;

.menu {
  @include tmp_column;

  display: flex;
  flex-direction: column;
  gap: rem(16);
  padding: rem(16) rem(16) rem(60);
  margin: 0;
}

.title {
  font-size: rem(20);
  font-weight: 700;
}

.list {
  display: flex;
  flex-direction: column;
  gap: rem(12);
  padding: 0;
  margin: 0;
  list-style: none;
}

.item {
  display: grid;
  grid-template-columns: rem(96) 1fr;
  gap: rem(12);
  align-items: center;
}

.image {
  width: rem(96);
  height: rem(96);
  object-fit: cover;
  border-radius: rem(8);
}

.body {
  display: flex;
  flex-direction: column;
  gap: rem(4);
}

.category {
  display: flex;
  flex-direction: column;
  gap: rem(8);
}

.categoryName {
  font-size: rem(16);
  font-weight: 700;
}

.name {
  font-size: rem(16);
  font-weight: 700;
}

.price {
  font-size: rem(15);
}

[class].cart {
  width: fit-content;
}