@use "style/_variable" as *;

.orderHistory {
  @include tmp_column;

  display: flex;
  flex-direction: column;
  gap: rem(16);
  padding: rem(16);
  margin: 0;
}

.title {
  font-size: rem(20);
  font-weight: 700;
}

.empty {
  color: var(--txt-basic);
}

.orderList {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  list-style: none;
}

.order {
  display: flex;
  flex-direction: column;
  padding: rem(16) 0;
  
  ~ .order {
    border-top: 1px solid var(--border-default);
  }
}

.orderHead {
  display: flex;
  gap: rem(8);
  align-items: center;
  justify-content: space-between;
}

.date {
  font-size: rem(13);
  color: var(--txt-basic);
}

.status {
  font-size: rem(14);
  font-weight: 700;
}

.itemList {
  display: flex;
  flex-direction: column;
  gap: rem(4);
  padding: 0;
  margin: 0;
  list-style: none;
}

.item {
  font-size: rem(15);
}
